<%= layout("layouts/boilerplate") %>

<div class="container d-flex justify-content-center align-items-center mb-5">
	<div class="row">
		<div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
			<div class="card shadow">
				<img src="/images/camping-1.avif" alt="image of a campground" class="card-img-top" />
				<div class="card-body">
					<h5 class="card-title">Login</h5>
					<form action="/login" method="POST" class="needs-validation" novalidate>
						<div class="mb-3">
							<label class="form-label" for="username">Username</label>
							<input class="form-control" type="text" id="username" name="username" autofocus required />
						</div>

						<div class="mb-3">
							<label class="form-label" for="password">Password</label>
							<input class="form-control" type="password" id="password" name="password" required />
						</div>
						<div class="d-grid gap-2 mt-4">
							<button class="btn btn-success" type="button">Login</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
